<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<link
			href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
			rel="stylesheet"
		/>
		<title>The Ocean Pulse</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
			crossorigin="anonymous"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="col-12">
			<header>
				<nav
					class="navbar navbar-expand-lg bg-body-tertiary"
					data-bs-theme="dark"
				>
					<div class="container-fluid">
						<!-- <a class="navbar-brand" href="#">Navbar</a> -->

						<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a
										class="nav-link active"
										aria-current="page"
										href="/"
									>Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/locations">Locations</a>
								</li>
								<li class="nav-item">
									{{#if logged_in}}
										<li class="nav-item">
											<a class="nav-link"
												 id="logout" href="/login">logout</a>
											</a>
										</li>
									{{else}}
										<li class="nav-item">
											<a class="nav-link" href="/login">Login</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/signup">Sign Up</a>
										</li>
									{{/if}}
								</li>
							</ul>
							<form class="d-flex" role="search">
							</form>
						</div>
					</div>
				</nav>
			</header>
			<main class="content">
				<article>
					{{{body}}}
				</article>
				<aside>
					<div class="row row-cols-1 row-cols-md-1 g-4">
						<div class="col">
							<div class="card">
								<img
									src="/css/assets-card/image2.jpg"
									height="140"
									class="card-img-top"
									alt="..."
								/>
								<div class="card-body">
									<h5 class="card-title">Sunset</h5>
									<p class="card-text">- Bolinas, California. 🌅</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card">
								<img
									src="/css/assets-card/image1.jpeg"
									width=""
									height="140"
									class="card-img-top"
									alt="..."
								/>
								<div class="card-body">
									<h5 class="card-title">Ocean Beach</h5>
									<p class="card-text">- San Francisco, California. 🌊</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card">
								<img
									src="/css/assets-card/image3.jpeg"
									width="100"
									height="140"
									class="card-img-top"
									alt="..."
								/>
								<div class="card-body">
									<h5 class="card-title">Belmont Beach</h5>
									<p class="card-text">- Newport, Rhode Island. 🏄‍♂️</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card">

								<img
									src="/css/assets-card/image.4.webp"
									width="100"
									height="140"
									class="card-img-top"
									alt="..."
								/>

								<div class="card-body">
									<h5 class="card-title">San Onofre Beach</h5>
									<p class="card-text">- San Clemente, California. 🌊</p>
								</div>
							</div>
						</div>
					</div>
				</aside>
			</main>
			<footer>
			<div class="contact">
                <p>Made by William, James, Vinni & Beau ✨✨</p>
                 <a href="https://github.com/Vinni99/The-Ocean-Pulse.git">Github</a>
             </div>
			</footer>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
			crossorigin="anonymous"
		></script>
		<script src="/js/home.js"></script>

		{{#if logged_in}}
			<script src="/js/logout.js"></script>
		{{/if}}

	</body>
</html>
