 <div class="login-card">
          <h5>Add your onw surf location here!!!</h5>
          <form class="form new-location-form">
            <div class="form-group">
              <label for="surf-spot-name">Surf Spot Name:</label>
              <input class="form-input" type="text" id="surf-spot-name" name="surf-spot-name" />
            </div>
          <div class="form-group">
              <label for="location-name">Location:</label>
              <input class="form-input" type="text" id="surf-spot-name" name="surf-spot-name" />
            </div>
          <div class="form-group">
              <label for="beach-type">Beach Type:</label>
              <input class="form-input" type="text" id="beach-type" name="beach-type" />
            </div>
            
            <div class="form-group">
              <label for="optimal-swell-direction">Optimal Swell Direction:</label>
              <textarea class="form-input" id="optimal-swell-direction" name="optimal-swell-direction"></textarea>
            </div>
            <div class="form-group">
              <label for="optimal-wind">Optimal Wind Direction:</label>
              <textarea class="form-input" id="optimal-wind" name="optimal-wind"></textarea>
            </div>
            <div class="form-group">
              <label for="optimal-swell-size">Optimal Swell Size:</label>
              <textarea class="form-input" id="optimal-swell-size" name="optimal-swell-size"></textarea>
            </div>
            <div class="form-group">
              <label for="optimal-tide">Optimal Tide:</label>
              <textarea class="form-input" id="optimal-tide" name="optimal-tide"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Create Location</button>
            </div>
          </form>
        </div>
  
  <script src="/js/newLocations"></script>