<div class="login-card">
	<span class="material-icons">
		account_circle
	</span>
	<h4>Sign-up</h4>
	<form class="form login-form signup-form">
		<div class="form-group">
			<label for="name-login">Name:</label>
			<input class="form-input" type="text" id="name-signup" />
		</div>
		<div class="form-group">
			<label for="email-login">Email:</label>
			<input class="form-input" type="text" id="email-signup" />
		</div>
		<div class="form-group">
			<label for="password-login">Password:</label>
			<input class="form-input" type="password" id="password-signup" />
		</div>
		<div class="form-btn">
			<button class="btn btn-primary" type="submit">login</button>
		</div>
	</form>
</div>

<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet"
/>
<script src="/js/signup.js"></script>